<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <p><a href="/photos"> Назад к списку</a></p>
    <h1>{{ photo.image_file.name }}</h1>
    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}
                <div>{{field}}</div>
                <div class="error">{{field.errors}}</div>
                </div>
        {% endfor %}
        <input type="submit" value="Send" style="width:164.8px">
    </form>
    <img src="{{ photo.converted_image.url}}">
</body>

</html>