<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Список изображений</h1> {% if photos %} {% for photo in photos %}
    <p><a href="/photo/{{ photo.pk }}"> {{ photo.image_file.name}}</a></p>
    {% endfor %} {% else %}
    <p>Нет доступных изображений</p>
    {% endif %}
    <p><a href="/photo"> добавить изражение</a></p>
</body>

</html>