<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <h1>Новое изображение</h1>
    <p><a href="/photos"> Назад к списку</a></p>
    <form method="POST" enctype="multipart/form-data">
             {% csrf_token %}
             {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}
                <div>{{field}}</div>
                </div>
            {% endfor %}
        <input type="submit" value="Send" style="width:164.8px">
    </form>
</body>

</html>